{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>珠海为民汽车检测</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="keywords" content="effective register form Widget a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<link rel="stylesheet" href="{% static '/css/style.css' %}" />
<link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}"/>
<link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Expletus+Sans" rel="stylesheet">
</head>
<body>
<section class="agile-main">
	<header><h1> <label>专业、高效</label> 为民汽车年检</h1></header>
	<div class="agile-top">
		<h2>车辆信息登记</h2>
		<form  method="post">
			{% csrf_token %}
			<div class="agile-user">
				<p>车主姓名</p>
				<span><i class="fa fa-user" aria-hidden="true"></i></span>
				<input type="text" name="Username" placeholder="请输入您的姓名" required="">
				<div class="clear"></div>
			</div>
			<div class="agile-email">
				<p>联系电话</p>
				<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
				<input type="text" name="phone_number" placeholder="请输入您的联系号码" required="">
				<div class="clear"></div>
			</div>
			<div class="agile-username">
				<p>车牌号码</p>
				<span><i class="fa fa-users" aria-hidden="true"></i></span>
				<input type="text" name="car_number" placeholder="请输入您的爱车号码" required="">
				<div class="clear"></div>
			</div>
			<div class="agile-password">
				<p>取车地址</p>
				<span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
				<input type="text" name="address" placeholder="请输入上门取车的地址" required="">
				<div class="clear"></div>
			</div>
			<div class="agile-cpassword">
				<p>还车地址</p>
				<span><i class="fa fa-lock" aria-hidden="true"></i></span>
				<input type="text" name="fan_address" placeholder="检测完毕返还您爱车的地址" required="">
				<div class="clear"></div>
			</div>
			<button type="submit"></button>
			{{msg}}
		</form>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<footer>&copy; 2018 珠海为民汽车检测有限公司 &nbsp联系电话:33333 | Design by <a href="http://w3layouts.com">GBXZ</a></footer>
</section>
</body>
</html>
